<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- service-->
    <bean id="springInitService" class="com.ru.spring.examone.service.imp.SpingInitBeanSerImp"/>
    <!--action-->
    <bean id="springInitBeanAction" class="com.ru.spring.examone.action.SpringInitBeanAction">
        <property name="springService">
            <ref bean="springInitService"/>
        </property>
    </bean>

    <!--引入其他spring配置文件-->
    <import resource="spring-ioc.xml"/>
</beans>